body{
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
 background-color: #f5f5f5; 
}

h1{
    text-align: center;
}

li{
    color: #838282;
    list-style-type: none;
    line-height: 2.5;
    border-left: 3px solid rgb(255, 110, 94);
    padding-left: 3rem;
}